* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "ABeeZee", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}

code {
  font-family: "Courier Prime", Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
